@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Jomhuria;
  font-weight: 400;
}

body {
  background: #e6e6e6;
  color: #434343;

  button {
    background: #537845;
    color: white;
    padding: 2vh 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin: 0 2vw;
  }
  
  a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}