@media (max-width: 640px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 10vh;
        font-size: 32px;
    }
}