@media (max-width: 640px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .pictureContainer {
            width: 100%;
            height: 40vh;
            background: black;
        }

        .actions {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 4vh 20vw;

            button {
                margin-top: 2vh;
                font-size: 40px;
                width: 100%;
                background: #537845;
                padding: 2vh 4vw;
                border-radius: 10px;
            }

            #anotherPicBtn {
                background: #dc3333;
            }
        } 
    }
}